#nav-bar {
  z-index:  1;
  position: fixed;
  width: 100%;
  height: 80px;
  background: #00a087;
  color: #e8fdff;
  padding: 0px 20px 0px 20px;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 2em;
  float: left;
  line-height: 80px;
}

#nav-bar input {
  position: fixed;
  background-color: white;
  opacity: .9;
  font-weight: normal;
  font-size: larger;
  right: 3px;
  color: #00a087;
  height: 60px;
  width: 100px;
  border: solid white;
  border-radius: 8px;
}

#nav-bar .compose-button h4:hover {
  box-shadow: 3px 3px 3px 3px black;
  opacity: 1;
}

#nav-bar .compose-button h4 {
 float: right;
 padding: 29px 4px;
 color: black;
 border: solid black 1px;
 border-radius: 8px;
 padding: 15px 10px 15px 10px;
 font-size: x-large;
 font-weight: lighter;
 margin: 10px 0px 0px 0px;
 background-color: white;
 opacity: .8;
 cursor: pointer;
}