section.new-tweet {
    margin-bottom
    border: 1px solid #244751;
    border-radius: 12px;
    background-color: #eee;
    width: 420px;
    margin: 0px auto;
    display: none;
}

section.new-tweet h2 {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom-style: solid;
    margin: 5px 5px 5px 5px;

}

.new-tweet textarea {
      width: 400px;
}

.new-tweet input {
    margin-top: 0px 0px 0px 0px;
    cursor: pointer;
}

span.counter {
    float: right;
    margin: 0px 12px 0px 0px;
/*     position: relative; */
/*     left: 305px; */
}

#error-alert {
/*     width: 20px; */
/*     height: 10px; */
    border: solid red 1px;
/*     background-color: gray; */
    
    color: red;
    display: none;
}